<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 { 
            font-family:'Avenir Next';
            color: #2D9CFF;
            font-size: 54px;
        }
        h2 {
            font-family:'Avenir Next';
            color: black;
        }
        p {
            font-family:'Avenir Next';
            color: black;
        }
        a {
            font-family:'Avenir Next';
            color: black;
        }
        .centered {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class='centered'>
        <img src="cid:logo">
        <h1>float note</h1>
        <h2>Hello there!</h2>
        <p>This is to confirm your password has been changed</p>
    </div>
</body>
</html>
