doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css' type='text/css')
    body
        div(class='container')
            img(src='/logo.png')
            h2 float note
            h3 Congratulations! Your account has been verified...