h1 { 
    font-family:'Avenir Next'
}
h2 {
    font-family:'Avenir Next'
}
p {
    font-family:'Avenir Next'
}
a {
    font-family:'Avenir Next'
}
form {
    font-family:'Avenir Next'
}
button {
    font-family:'Avenir Next'
}